body {
	margin: 0;
	background-color: #000;
	font-family: monospace;
	font-weight: normal;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#header {
	background: url(../res/bg.gif);

	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	box-shadow: #014600 0 0 10px 7px;

}

#header {
	top: 0;
	display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
	bottom: 0;
	/*box-shadow: none;*/
	background: url(../res/bg.gif);
	color: #fff;
	text-align: center;
	/*padding: 10px 0;*/
	position: fixed;
	width: 100%;
	box-shadow: #014600 0 0 10px 2px;
}

#main {
	margin-top: 200px;
    margin-bottom: 150px;
	color: #03b300;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
	width: 1000px;
}

.header__logo {
	display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-image: url(../res/logo.png);
    background-position: center;
    background-size: cover;
	/*box-shadow: rgb(0 140 36 / 70%) 5px 5px 12px;*/
	filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 100, 0, 0.5));
}

.header__title {
	text-shadow: 8px 5px 3px rgb(39 255 0 / 50%);
	margin-left: 20px;
}

.header__nav {
	font-size: 20px;
}
.header__nav a:hover {
	background: radial-gradient(ellipse at bottom, #03b300 0%, #013901 50%);
}
.header__nav a {
	border: #03b300 1px solid;
	text-shadow: none;
	background-color: rgb(3 199 0 / 10%);
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	color: #03b300;
}

.footer__contacts_links {
	list-style-type: none;
	padding: 0;
}

.footer__contacts h2 {
	text-decoration: underline;
}

.footer__contacts_links a {
	color: #FFF;
	text-decoration: none;
}

.footer__contacts_links a:visited {
	color: #FFF;
}

.main__mycode code {
	white-space: pre-wrap;
}


section {
	border: 7px #03b300 double;
    border-radius: 7px;
    width: fit-content;
	margin-left: 10px;
	margin-top: 10px;
}
section > .title {
	border-bottom: 1px #03b300 solid;
	padding-left: 15px;
	font-family: monospace;
	margin-bottom: 0;
}

section > .content {
	padding: 5px;
	overflow: auto;
}

.main__mycode > .content {
	height: 400px;
}

.main__myanimal > .content {
	height: 400px;
}

.main__myfacts {
	width: 921px;
	text-transform: capitalize;
}

.main__myfacts > .content {
	max-height: 500px;
	margin-left: 0;
}

section > .content::-webkit-scrollbar {
	width: 5px;
	background-color: #000;
}

section > .content::-webkit-scrollbar-thumb {
	width: 5px;
	background-color: #03b300;
}

#console {
	width: 100%;
	background-color: rgb(3 199 0 / 10%);
	color: #03b300;
	border-top: 1px;
	border-top-color: #03b300;

}
input {
	outline: none;
	border-color: #03b300;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
	color: #03b300;
	opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
	color: #03b300;
}

.time_display {
	width: 450px;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
}

#main_clock {
	display: block;
	margin-top: 200px;
	margin-bottom: 150px;
	color: #03b300;
	background-color: #000;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1000px;
}


.clock {
	display: inline-block;
	overflow: hidden;
	width: 400px;
	height: 400px;
	filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 100, 0, 0.5));
}


#main_table {
	display: block;
	margin: 200px 30px 150px;
	color: #03b300;
	background-color: #000;
}

table {
	min-width: 500px;
	width: auto;
	flex: 1;
	display: grid;
	grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
	display: contents;
}

th,
td {
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th {
	top: 0;
	background: #03b300;
	text-align: left;
	font-weight: normal;
	font-size: 20px;
	color: black;
	border: 3px green;
}

.resize-handle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0;
	width: 3px;
}
td {
	padding-top: 10px;
	padding-bottom: 10px;
	color: green;
	font-size: 15px;
}

tr:nth-child(even) td {
	background: rgba(0, 100, 0, 0.5);
	color: black;
}

